/* COMMON */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  width: 100%;
  height: 100vh;
}

h1, h2, h3, h4 {
  color: #FFF;
}

main::after {
  content: '';
  display: table;
  clear: both;
}

main .aside-bar .aside-menu ul li a:hover,
main .aside-bar .aside-playlists ul li a:hover,
main .main-container nav ul li a:hover,
main .aside-bar .aside-bar-bottom a:hover {
  color: #FFF
}
main .aside-bar .aside-playlists ul li a.add:hover::before {
  background-color: #FFF;
}

/* MAIN */
main {
  height: calc(100vh - 90px);
}

/* ASIDE BAR */
main .aside-bar {
  float: left;
  width: 200px;
  height: 100%;
  
}

main .aside-bar .aside-bar-top {
  height: calc(100% - 80px);
  background-color: #000;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main .aside-bar .aside-bar-top .logo-img {
  padding:20px;
  flex-shrink: 0;
}


/* ASIDE MENU */
main .aside-bar .aside-menu {
  flex-shrink: 0;
}

main .aside-bar .aside-menu ul li {
  height: 30px;
  width: 100%;
  display: inline-block;
  padding-left: 20px;
}

main .aside-bar .aside-menu ul li a {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px 0;
  text-decoration: none;
  color: #6D6D6D;
  font-weight: 600;
  font-size: 90%;
}

main .aside-bar .aside-menu ul li a.active::before {
  content: '';
  position: absolute;
  left: -20px;
  height: 100%;
  width: 2px;
  background-color: #B7FF33;
}

main .aside-bar .aside-menu ul li a img {
  height: 30px;
  padding-right: 5px;
}

/* ASIDE PLAYLISTS */
main .aside-bar .aside-bar-top .aside-playlists {
  padding: 20px;
  max-height: 260px;
  flex-shrink: 1;
  max-height: 100%;
  overflow-y: auto;
}

main .aside-bar .aside-bar-top .aside-playlists ul {
  list-style: none;
  padding-top: 10px;
  
}

main .aside-bar .aside-playlists ul li {
  width: 100%;
  padding-top: 10px;
}

main .aside-bar .aside-playlists ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #6D6D6D;
  font-weight: 600;
  font-size: 90%;
}

main .aside-bar .aside-playlists ul li a.add::before {
  content: '+';
  height: 40px;
  width: 40px;
  margin-right: 10px;
  color: #000;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #6D6D6D;
}

/* ASIDE PROFILE */
main .aside-bar .aside-bar-bottom {
  height: 80px;
  width: 200px;
  background-color: #B7FF33;
}

/* COVERS */
main .main-container {
  float: left;
  background-color: #141922;
  width: calc(100% - 200px);
  height: 100%;
  overflow-y: auto;
}

main .main-container .call-to-action {
  position: fixed;
  width: calc(100% - 200px);
  height: 90px;
  padding-right: 40px;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#upgrade {
  padding: 10px 30px;
  border: 1px solid #FFF;
  border-radius: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  font-size: 80%;
}

#upgrade:hover {
  transform: scale(1.1);
}

main .main-container nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  margin-top: 90px;
}

main .main-container nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

main .main-container nav ul li a {
  position: relative;
  padding: 5px 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 80%;
  font-weight: 600;
  color: #7F8387;
}

main .main-container nav ul li a.active::after  {
  content: '';
  position: absolute;
  width: 25%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #B7FF33;
}

main .main-container .debug-content {
  width: 100%;
  padding:30px;
  color: #FFF;
}


/* FOOTER */
footer .player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 10px;
  background-color: #282828;
}

footer .player-song,
footer .player-volume {
  width: 200px;
  height: 100%;
}

footer .player-song .song-img {
  width: 22%;
  margin-right: 10px;
  flex-shrink: 0;
}

footer .player-song .song-img img {
  width: 100%;
}

footer .player-song .song-info p {
  font-size: 85%;
  color: #6D6D6D;
}

footer .player-song .song-commands {
  color: #6D6D6D;
  margin-left: 20px;
}

footer .player-song .song-commands i {
  padding: 0 2px;
}

footer .player-song {
  display: flex;
  align-items: center;
  font-size: 80%;
  flex-shrink: 2;
}

footer .plyer-volume {
  flex-shrink: 0;
}

footer .player-control {
  width: 60%;
  height: 100%;
  flex-shrink: 1;
  background-color: bisque;
}

/* MEDIA */
@media screen and (max-width: 680px) {
  main .aside-bar {
    width: 50px;
  }

  main .main-container,
  main .main-container .call-to-action {
    width: calc(100% - 50px);
  }

}